################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AuctionService/obj
/.vs/Carsties/FileContentIndex
